In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import sys
import matplotlib
from pandas import DataFrame, read_csv

%matplotlib inline

In [2]:
print('Python version {}'.format(sys.version))
print('Pandas version {}'.format(pd.__version__))
print('Matplot version {}'.format(matplotlib.__version__))

Python version 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 11:07:29)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version 0.23.3
Matplot version 2.2.2

# Create Data
---
The data set will consist of 5 baby names and the number of births recorded that year(1880).

In [3]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]

In [4]:
BabyDataSet = list(zip(names, births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [5]:
df = DataFrame(data=BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
df.to_csv('births1880.csv', index=False, header=False)